@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0d3276e0;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox */
/* Note: Firefox supports a different syntax for styling scrollbars */
/* These styles will only apply to Firefox */
* {
  scrollbar-color: #0d3276e0 transparent;
  scrollbar-width: thin;
}

/* Date PICKER */
.react-date-picker__wrapper {
  border: none !important;
}
.react-calendar__tile--now {
  background-color: white !important;
  color: black !important;
}
.react-calendar__tile--now:hover {
  background-color: rgba(211, 211, 211, 0.548) !important;
  color: black !important;
}
.react-calendar__tile--active {
  background-color: #0d3276 !important;
}
.react-date-picker__inputGroup__input:invalid {
  background-color: transparent !important;
}
.react-date-picker__calendar {
  inset: auto auto 100% 0px !important;
}

body
  > section
  > section
  > form
  > section
  > div
  > div:nth-child(4)
  > div
  > div
  > img:nth-child(5) {
  display: none;
}

body
  > section
  > section
  > form
  > section
  > div
  > div:nth-child(4)
  > div
  > div
  > img:nth-child(4) {
  margin-right: 5px;
}

.myclass {
  text-shadow: 0.5px 0.5px 0 white, -0.5px -0.5px 0 white, 0.5px -0.5px 0 white,
    -0.5px 0.5px white;
}
.myclass1 {
  text-shadow: 1.5px 1.5px 0 #1e328f, -1.5px -1.5px 0 #1e328f,
    1.5px -1.5px 0 #1e328f, -1.5px 1.5px #1e328f;
}

/* GOOGLE MAP */

.gm-style-iw {
  overflow: hidden !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.gm-style-iw-c,
.gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style-iw-tc::after {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
